[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
oauth2-provider = "*"
gunicorn = "*"
djongo = "*"
dnspython = "*"
pymongo = "==3.12.1"

[dev-packages]

[requires]
python_version = "3.8"
